.pagination {

    @include phones {
        display: none;
    }

    position: fixed;
    top: 15%;
    right: 3%;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 7px;

        &:hover {

            .pagination__link {
                border: 1px solid white;
            }
        }
    }

    &__link {
        width: 16px;
        height: 16px;
        display: block;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 50%;
        }
    }
}

.pagination__list .is-active {
    
    .pagination__link {
        border: 1px solid white;
    }
}