.reviews__list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.reviews {
    background-color: #cfd8dc;
}

.reviews__item {
    width: 25%;
    height: 50%;
    color: white;

    @include tablets {
        width: 50%;
        height: 25%;
    }
}
