.section {
    height: 100vh;
}

.section__title {

    text-transform: uppercase;
    font-family: 'gagalinregular';
    margin-bottom: 0.9375rem;
    font-size: 4.0625rem;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;

    &_whitespace {
        white-space: initial;
    }

    @include tablets {
        font-size: 4.0625rem;
    }
     
    @include phones {
        font-size: 3rem;
    }

    &_yellow {
        color: $yellow;
    }

    &_centered {
        text-align: center;
    }
}